.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-container {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    background-color: white;
}
.login-image {
    position: relative; /* Tạo hệ quy chiếu cho các phần tử con */
    display: inline-block; /* Đảm bảo container có kích thước theo ảnh */
}

.login-image img {
    width: 100%; /* Đặt kích thước của ảnh */
    height: auto;
}

.login-image i {
    position: absolute; /* Đặt mũi tên trên ảnh */
    top: 10px; /* Khoảng cách từ cạnh trên */
    left: 10px; /* Khoảng cách từ cạnh trái */
    color: rgb(0, 0, 0); /* Màu của mũi tên, tùy chỉnh theo thiết kế của bạn */
    font-size: 28px; /* Kích thước của mũi tên */
    cursor: pointer; /* Thêm con trỏ khi hover */
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt mà khi hover */
}

.login-image i:hover {
    color: white; /* Đổi màu mũi tên khi hover */
    transform: scale(1.3) rotate(3deg); /* Tăng kích thước và xoay nhẹ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng nhẹ cho mũi tên */
}



.login-form {
    flex: 1; 
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    margin: 5px 0;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    background-color: #FF7380;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-google {
    display: flex;
    align-items: center; /* Căn giữa icon và text theo chiều dọc */
    justify-content: center; /* Căn giữa icon và text theo chiều ngang */
    margin-right: 70px;
    background-color: white;
    width: 80%;
    border-color: black;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-google i {
    margin-right: 10px; 
}

.btn, .btn-google {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
}

.btn:hover, .btn-google:hover {
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
    background-color: #e6ddde; /* Đổi màu nền khi hover */
}

.btn:hover, .btn-login:hover{
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
    background-color: #e6ddde; /* Đổi màu nền khi hover */
    color:black;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    vertical-align: middle; 
}

/* Login.css */

/* Đặt mặc định opacity là 0 và không hiển thị */
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }  



.register-text {
    margin-top: 10px;
    margin-right: 70px;
}

.forgot-pass-link {
    margin-left: 35px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.register-link {
    color: #FF7380;
    cursor: pointer;
}

.small-text {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
}.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-container {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    background-color: white;
}
.login-image {
    position: relative; /* Tạo hệ quy chiếu cho các phần tử con */
    display: inline-block; /* Đảm bảo container có kích thước theo ảnh */
}

.login-image img {
    width: 100%; /* Đặt kích thước của ảnh */
    height: auto;
}

.login-image i {
    position: absolute; /* Đặt mũi tên trên ảnh */
    top: 10px; /* Khoảng cách từ cạnh trên */
    left: 10px; /* Khoảng cách từ cạnh trái */
    color: rgb(0, 0, 0); /* Màu của mũi tên, tùy chỉnh theo thiết kế của bạn */
    font-size: 28px; /* Kích thước của mũi tên */
    cursor: pointer; /* Thêm con trỏ khi hover */
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt mà khi hover */
}

.login-image i:hover {
    color: white; /* Đổi màu mũi tên khi hover */
    transform: scale(1.3) rotate(3deg); /* Tăng kích thước và xoay nhẹ */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Đổ bóng nhẹ cho mũi tên */
}



.login-form {
    flex: 1; 
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    margin: 5px 0;
    font-size: 16px;
}

.button-group-login {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.btn-login {
    padding: 10px 15px;
    background-color: #FF7380;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:40%;
   
}

.btn-google {
    display: flex;
    align-items: center; /* Căn giữa icon và text theo chiều dọc */
    justify-content: center; /* Căn giữa icon và text theo chiều ngang */
    margin-right: 70px;
    background-color: white;
    width: 80%;
    border-color: black;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-google i {
    margin-right: 10px; 
}

.btn-login, .btn-google {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
}

.btn:hover, .btn-google:hover {
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
    background-color: #e6ddde; /* Đổi màu nền khi hover */
}

.btn-login:hover{
    transform: scale(1.05); /* Phóng to nhẹ khi hover */
    background-color: #e6ddde; /* Đổi màu nền khi hover */
    color:black;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    vertical-align: middle; 
}

/* Login.css */
/* Đặt mặc định opacity là 0 và không hiển thị */
/* Đặt mặc định opacity là 0 và không hiển thị */
/* Đặt mặc định opacity là 0 và phần tử ở vị trí dịch xuống */
/* Đặt mặc định opacity là 0 để phần tử không hiển thị */
/* Đặt mặc định opacity là 0 và phần tử ở vị trí dịch xuống */
/* Đặt mặc định opacity là 0 và phần tử ở vị trí dịch xuống */



  .fade-enter, .fade-exit {
    opacity: 1;
    will-change: opacity;
   overflow: hidden;
  }



.register-text {
    margin-top: 10px;
    margin-right: 70px;
}

.forgot-pass-link {
    margin-left: 35px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.register-link {
    color: #FF7380;
    cursor: pointer;
}

.small-text {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
}