.menu-side-menu {
    position: fixed; /* Keep the menu fixed on the left */
    top: 0;
    left: 0;
    width: 250px; /* Adjust width as needed */
    height: 100vh; /* Full height */
    background: linear-gradient(to bottom right, rgb(252, 252, 252), rgba(251, 255, 206, 1));
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 1000; /* Ensure it is above other elements */
    overflow-y: auto; /* Allow scrolling if menu items exceed height */
}

.menu-dim-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 999; /* Ensure it is below the menu */
}

.menu-logo{
    width: 100%;
}