.product-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Initial shadow */
    text-align: center;
    width: 270px;
    height: 400px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.5s ease; /* Smooth transitions for shadow and transform */
}

.product-card:hover {
    background: linear-gradient(to bottom, white 54.5%, #ffffffbd 30%);
    transform: translateY(-5px); /* Applies the 0.5s transition */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}



/* Product image styling */
.product-card img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    transform: scale(1.1);
    transition: transform 0.7s ease; /* Adjusted to match hover duration */
}

.product-card:hover {
    background: linear-gradient(to bottom, white 54.5%, #ecffffbd 30%);
    transform: translateY(-4px) !important;
}

/* Container for product information */
.info-product-card {
    padding: 15px 10px;
    color: black;
    font-family: 'Taviraj', sans-serif;
    position: relative;
    transition: all 0.7s ease; /* Adjusted for smoother entry */
    transform: translateY(40px);
}



/* Product title */
.info-product-card h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.product-card:hover h3 {
    color: red;
}

.product-card:hover .info-product-card {
    transform: translateY(0px);
}

/* Animation for fading in each letter with zoom */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}



/* Price styling */
.product-card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

/* Add-to-cart button */
.add-cart {
    padding: 10px 15px;
    background-color: #ff7f7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.product-card:hover .add-cart {
    display: block;
    margin: auto;
}

.add-cart:hover {
    background-color: rgb(9, 148, 148);
}

/* Favorite icon styling */
.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 21px;
}

.favorite-icon i {
    color: red;
    transition: color 0.3s ease;
}
