.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-container {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    background-color: white;
}

.login-image {
    flex: 0 0 50%;
    height: 100%; 
}

.login-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.login-form {
    flex: 1; 
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-form h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    margin: 5px 0;
    font-size: 16px;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 15px;
    background-color: #FF7380;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-google {
    display: flex;
    align-items: center; /* Căn giữa icon và text theo chiều dọc */
    justify-content: center; /* Căn giữa icon và text theo chiều ngang */
    margin-right: 70px;
    background-color: white;
    width: 80%;
    border-color: black;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-google i {
    margin-right: 10px; 
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    vertical-align: middle; 
}



.register-text {
    margin-top: 10px;
    margin-right: 70px;
}

.forgot-pass-link {
    margin-left: 35px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.register-link {
    color: #FF7380;
    cursor: pointer;
}

.small-text {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    color: #666;
}


