.dash-gauge-card {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 450px;
    height: 180px;
    background-color: #f9f9f9; /* Light background for the card */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-top: 20px;
}

.dash-gauge-container {
    display: flex;
    align-items:center;
    justify-content:center;
    margin-right: 30px;
}

.dash-gauge-info {
    flex: 1; /* Allow the info section to take available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -20px;
}

.dash-gauge-info h4 {
    margin: 0;
    font-size: 25px; /* Adjust font size for data */
}

.dash-gauge-info p {
    margin: 0;
    color: #2b2a2a; /* Gray color for description */
}