*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  min-height:100vh;
  background-color: #FAEDED;
}

a{
  text-decoration: none;
  color: inherit;
}

/* CSS Fade Transition */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
