@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.analytics {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-image: url('../../assets/img/contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 50px;
    margin-left: 22px;
}

.analytics-row {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-left: -20px;
}

.analytics-row1 {
    margin-top: 20px;
    display: flex;
    justify-content:flex-start;
    margin-bottom: -25px;
    gap:10px;
}

